{% extends "base.html" %}

{% block content %}
    <h2>Books</h2>
    <ul><form action="/make_feed/"  method="post">{{ form.as_ul }}
        {% for book in object_list %}
                <input type="checkbox" name=" ">
                    <div class="item">
                    <img class="lazy" src="{{ book.photo.url }}"
                    data-mfp-src="{{ book.photo.url }}" 
                    data-effect="mfp-zoom-in">
                    {{ book.title }} 
                    {{ book.description }}
                    {{ book.price }}
                    </div>
                   
        {% endfor %}
        <input type="submit" value="Создать фид">
    </form>
    </ul>
{% endblock %}